
%h1 Bivouac

- @sites.each do |s|
  = "#{s.name} - #{s.directory}"
  %a{:href => '/site/' + s.id.to_s, :title => 'Show'}
    Show
  <br/>

%a{:href => '/sites/new', :title => 'New Site'}
  New Site

