
%h1 Bivouac

%p Welcome campers!

%form{:action => "/sites/create"}
  - if @site.error
    %p#errors
      = @site.error
  %label{:for => "domain"}
    Site name:
  %input{:id => "domain", :type => "text", :name => "site[domain]", :value => @site.domain}
  %br
  %br
  %label{:for => "ssh_public_key"}
    SSH public key:
  %textarea{:id => "ssh_public_key", :cols => "40", :rows => "5", :name => "site[ssh_public_key]", :value => @site.ssh_public_key}
  %br
  %br
  %input{:id => "submit", :name => "submit", :type => "submit", :value => "Save"}

%h3 Other bivvies

- @sites.each do |s|
  %a{:href => '/site/' + s.domain, :title => 'Show'}
    = s.domain
  <br/>

