%html
  %head

    %link{:href => "/bivouac.css", :type => "text/css", :rel => "stylesheet"}
    %title Bivouac

  %body
    #container
      #header
        %h1 Bivouac
        %h2 
          = @page_title
      = yield

