%html
  %head

    %link{:href => "/bivouac.css", :type => "text/css", :rel => "stylesheet"}
    %title Bivouac

  %body
    #container
      #header
      %h1 Bivouac
      %p.slogan 
        Less time deploying,
        %br
        more time drinking.
      = yield

