
%p
  Your bivvy has been created!

%p
  Add this remote to your git repo with:
  %pre
    %code
      != "git remote add bivouac #{@site.repo}"
%p
  Deploy your app with:
  %pre
    %code
      git push bivouac master
%p
  Visit your app at:
  %a{:href => @site.domain_name, :title => 'Show'}
    = @site.domain_name
  
%p
  %a{:href => '/', :title => 'Home'}
    Home
