%p
  You're two small steps from having a drink at your bivvy!
%p
  1. Add this remote git repo:
  .code
    !="git remote add bivouac #{@site.repo}"
%p
  2. Deploy your app:
  .code
    git push bivouac master
%p
  3. Have a beer at your bivvy:
  %a{:href => @site.domain_name, :title => 'Show'}
    .bivvy
      = @site.domain_name