%p
  Your bivvy has been created!

%p
  Add this remote to your git repo with:
  .code
    !="git remote add bivouac #{@site.repo}"
%p
  Deploy your app with:
  .code
    git push bivouac master
%p
  Visit your app at:
  %a{:href => @site.domain_name, :title => 'Show'}
    = @site.domain_name
%p
  %a{:href => '/', :title => 'Return to home'}
    Return to home
