%h1 New Site
%form{:action => "/sites/create"}
  %label{:for => "name"}
    Site name:
  %input{:id => "name", :type => "text", :name => "site[name]"}
  %br
  %br
  %label{:for => "hostname"}
    Site host name:
  %input{:id => "hostname", :type => "text", :name => "site[hostname]", :size => 40}
  %br
  %br
  %input{:id => "submit", :name => "submit", :type => "submit", :value => "Save"}


